<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ManagementEven.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F71AD4D01EAB3B0B00687EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F71AD4E41EAB3B0C00687EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F71AD4EF1EAB3B0C00687EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
